.menu-container {
  height: 100%;
  width: 12%;
  min-width: 228px;
  display: flex;
  flex-direction: column;
  transform: translateX(0);
  transition: transform 0.3s;
  z-index: 100;
}

@media (max-width: 425px) {
  .menu-container {
    position: absolute;
    width: 60%;
    top: 60px;
    left: 0;
    background-color: #171a25;
    transform: translateX(-100%);
  }

  .menu-container.open {
    transform: translateX(0);
  }
}

.menu {
  background-color: transparent;
}

.divider {
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, #484848 0%, rgba(72, 72, 72, 0) 100%);
  margin: 20px 0px;
}
.divider:first-of-type {
  margin: 0px 0px 20px 0px;
}

.ant-menu-item {
  background-color: transparent !important;
  display: flex !important;
  align-items: center !important;
  gap: 8px !important;
  line-height: 0 !important;
  height: auto !important;
  margin-inline: 0 !important;
  margin-block: 0 !important;
  padding: 20px !important;
  width: 100% !important;
}

.ant-menu-title-content {
  color: #fff !important;
  font-size: 14px !important;
  line-height: 1.4 !important;
}

.ant-menu-item-active,
.ant-menu-item-selected {
  background: #292f48 !important;
  border-left: 4px solid #76a0f0 !important;
  border-radius: 0 !important;
  padding-left: 16px !important;
}
