@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Roboto", sans-serif;

  color-scheme: light dark;
  height: 100%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #fff;
  background-color: #171a25;
}

button {
  cursor: pointer;
}

.ant-btn-icon {
  margin-inline-end: 0 !important;
}
